@import "tailwindcss"  source("../../../app");
@import "../../assets/stylesheets/actiontext.css";
@import "../../assets/stylesheets/simple_calendar.css";


@plugin "daisyui" {
    themes: wireframe --default
}

.tab-active{
    color: #8a1f11;
}

#tab_content {
    border-width: 2px;
    border-style: dotted;
    margin-bottom: 2%;
}
/* hide attach button on editor */
.trix-button.trix-button--icon.trix-button--icon-attach {
    display: none;
}


.trix-content {
    max-height: 400px !important;
    overflow-y: auto;
}
