@import "tailwindcss"  source("../../../app");
@import "../../assets/stylesheets/actiontext.css";

@plugin "daisyui" {
    themes: wireframe --default
}

/* hide attach button on editor */
.trix-button.trix-button--icon.trix-button--icon-attach {
    display: none;
}

#topic_content > div {
    border: 1px dashed #000;
}

.trix-content {
    max-height: 400px !important;
    overflow-y: auto;
}

div.test {
    background-color: red;
}