<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Deadline</th>
    <th> Action </th>
  </tr>
  </thead>
  <tbody>
  <% unit.assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.title %></td>
      <td><%= Time.zone.parse(assignment.deadline.to_s).strftime("%B %d, %Y at %l:%M %p") %></td>
      <td>
        <%= link_to "View", assignment_path(assignment), class: "btn btn-info" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>