<%= turbo_frame_tag "tab_content" do %>
  <div class="p-4">
    <p style="color: green"><%= notice %></p>

    <%= render "units/unit_topics", unit: @assignment.unit%>
    <%= render @assignment %>

  </div>
<% end %>