<div class="flex items-start space-x-3 p-3 hover:bg-gray-50 rounded-lg">
  <div class="messenger flex items-center space-x-2">
    <span class="message-avatar">

    </span>
    <span class="font-medium"><%= message.user.first_name.capitalize %></span>
  </div>
  <div class="flex-1">
    <%= simple_format(message.content, class: "text-gray-800") %>
  </div>
</div>