<% @recent_mentions.group_by { |mention| mention.message.messageable.unit }.each do |unit, mentions| %>
  <div class="collapse bg-base-200 mx-2 mt-8">
    <input type="radio" name="my-accordion-1"/>
    <div class="collapse-title text-s font-light"><%= unit.title %></div>
    <div class="collapse-content">
      <% mentions.group_by { |mention| mention.message.messageable }.each do |messageable, messageable_mentions| %>
        <% messageable_mentions.each do |mention| %>
          <p class="text-xs">
            <%= mention.message.content %> | <%= messageable.title %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>