<turbo-frame id="tab_content" class="col-span-3 row-start-3 w-full">
  <div class="h-full w-full p-4">
    <div class="grid grid-cols-3 grid-rows-2 gap-4 h-full bg-amber-300 border-4 border-indigo-500">
      <div class="bg-blue-500 flex items-center justify-center text-white">
        Deadlines
      </div>
      <div class="row-span-2 bg-blue-500 flex items-center justify-center text-white">
        Messages
      </div>
      <div class="bg-blue-500 flex items-center justify-center text-white">
        Gradebook
      </div>
      <div class="bg-blue-500 flex items-center justify-center text-white">
        Schedule
      </div>
      <div class="bg-blue-500 flex items-center justify-center text-white">
        Resources
      </div>
    </div>
  </div>
</turbo-frame>