<turbo-frame id="tab_content" col-span-3 row-start-2 bg-green-500 min-h-[300px] flex flex-col items-center justify-center text-white w-full>
  <div class="w-full flex justify-center items-center">
    <div class="grid grid-cols-3 grid-rows-2 gap-2 max-h-[300px] bg-amber-300 border-4 border-indigo-500 w-full">
      <div class="col-span-1 bg-blue-500 min-h-[100px] flex items-center justify-center text-white w-full">Deadlines</div>
      <div class="col-span-1 row-span-2 bg-blue-500 min-h-[100px] flex items-center justify-center text-white w-full">Messages</div>
      <div class="col-span-1 bg-blue-500 min-h-[100px] flex items-center justify-center text-white w-full">Gradebook</div>
      <div class="col-span-1 bg-blue-500 min-h-[100px] flex items-center justify-center text-white w-full">Schedule</div>
      <div class="col-span-1 bg-blue-500 min-h-[100px] flex items-center justify-center text-white w-full">Resources</div>
    </div>
  </div>
</turbo-frame>
