<turbo-frame id="tab_content">
<div class="grid grid-cols-2 bg-amber-200 outline-black justify-center">
  <div class="col flex items-center justify-center text-center">1</div>
  <div class="col flex items-center justify-center text-center">2</div>
</div>
</turbo-frame>