<div class="avatar">
  <div class="rounded ring ring-cyan-600 ring-offset-2">
    <%= image_tag("https://robohash.org/#{rand}.png?size=150x150", alt: "Profile Image") %>
  </div>
</div>

<fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
  <legend class="fieldset-legend text-center w-full font-semibold">Immutable (Contact Support for Amendment)</legend>
  <div class="grid grid-cols-2 gap-6">
    <div>
      <label class="fieldset-label text-sm font-medium text-base-content">Full Name</label>
      <input type="text" class="input w-full bg-base-100 border-base-300 text-base-content" disabled placeholder="<%= @user.full_name %>" />
    </div>
    <div>
      <label class="fieldset-label text-sm font-medium text-base-content">Email Address</label>
      <input type="text" class="input w-full bg-base-100 border-base-300 text-base-content" disabled placeholder="<%= @user.email_address %>" />
    </div>
  </div>
</fieldset>

