<div>
  <div class="text-2xl font-bold mb-2">Upcoming Deadlines</div>
  <ul class="list bg-base-100 rounded-box shadow-md">
    <% @assignments.each_with_index do | assignment, i |  %>
      <li class="list-row">
        <div class="font-thin opacity-30 tabular-nums">
          <%= i %>
        </div>
        <div>
          <div>
            <%= assignment.title %>
          </div>
          <div class="text-xs uppercase font-semibold opacity-60">
            <%= assignment.unit.title %>
          </div>
        </div>
        <div>
          <div>
            <% days_until = ((assignment.deadline - Time.current) / 1.day).floor %>
            <%= pluralize(days_until, 'day') %> until deadline
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>