<div class="flex flex-col">
  <div class="text-2xl font-bold mb-2">Resources</div>
  <%= link_to "Mind", "https://www.mind.org.uk/information-support/types-of-mental-health-problems/mental-health-problems-introduction/useful-contacts/",
  class: "link link-info"%>
</div>