<%= turbo_frame_tag "tab_content" do %>
      <%= form_with(model: @user, class: "w-full mt-6") do |f| %>
        <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
          <legend class="fieldset-legend text-center w-full font-semibold">Visibility</legend>
          <div class="flex items-center gap-4">
            <label class="fieldset-label text-sm font-medium text-base-content">Taggable by students?</label>
            <%= f.check_box :taggable_by_students, class: "checkbox checkbox-primary border-base-300 focus:ring-cyan-600" %>
          </div>
          <div class="flex justify-end mt-6">
            <%= f.submit "Update Preference", class: "btn btn-primary bg-cyan-600 hover:bg-cyan-700 text-white font-semibold py-2 px-4 rounded-lg" %>
          </div>
        </fieldset>
      <% end %>
<% end %>