<h1> Course Overview </h1>

<table border="1" cellpadding="10" cellspacing="0">
  <thead>
  <tr>
    <th>Course Title</th>
    <th>Description</th>
    <th>Files</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td>
        <% course.files.each do |file| %>
          <p>Filename: <%= file.filename.to_s %></p>
          <%= image_tag(file) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
