<div id="<%= dom_id unit %>">
  <p>
    <strong>Title:</strong>
    <%= unit.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= unit.description %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= unit.course_id %>
  </p>

</div>
