<%= turbo_frame_tag "tab_content" do %>
  <div class="grid grid-cols-3 gap-4  p-4 flex-1 flex flex-col">
    <% @units.each do |unit| %>
      <% if unit.respond_to?(:topics) && unit.topics.any? %>
        <%= link_to unit_path(unit),
                   class: "card image-full shadow-sm hover:scale-105 transition-transform cursor-pointer",
                    data: { turbo_frame: "tab_content" } do %>
          <div class="card-body">
            <h2 class="card-title"><%= unit.title %></h2>
            <p><%= unit.description %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>