<turbo-frame id="tab_content">
  <table class="w-full table-auto bg-white">
    <thead class="sticky top-0 bg-white">
    <tr>
      <% if @users.any? %>
        <% @users.first.attributes.keys.each do |key| %>
          <th class="border px-4 py-2 text-left"><%= key.titleize %></th>
        <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr class="hover:bg-gray-50">
        <% user.attributes.values.each do |value| %>
          <td class="border px-4 py-2"><%= value %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</turbo-frame>