<%# app/views/admin/users/_users.html.erb %>
<h1 class="text-red-600">INDEX UNDER TAB CONTENT</h1>
<ul class="menu bg-base-200 lg:menu-horizontal rounded-box">
  <li>
    <%= link_to "View Audit", admin_audits_path, data: { turbo_frame: "user_content" } %>
  </li>
  <li>
    <%= link_to "Create Users", new_admin_user_path, data: { turbo_frame: "user_content" } %>
  </li>
  <li>
    <%= link_to "Edit User", admin_users_list_path, data: { turbo_frame: "user_content" } %>
  </li>
</ul>
<%# end %>