<li>
  <details>
    <summary>
      <%= link_to edit_admin_course_path(course.id) do %>
      <% end %>
      <%= course.title %>
    </summary>
    <ul>
      <%= render partial: "unit", collection: course.units, as: :unit %>
    </ul>
  </details>
</li>
