<li>
  <details>
    <summary>
      <%= link_to edit_admin_unit_path(unit.course, unit) do %>
      <% end %>
      <%= unit.title %>
    </summary>
    <ul>
      <%= render partial: "topic", collection: unit.topics, as: :topic %>
    </ul>
  </details>
</li>
