<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">Sitemap</a>
    <a class="link link-hover">Accessibility</a>
    <a class="link link-hover">Privacy</a>
    <a class="link link-hover">Terms</a>
    <a class="link link-hover">Contact</a>
  </nav>
</footer>