<div class="navbar glass shadow-sm">
  <div class="navbar-start">
    <%# TODO Populate accordingly %>
    <div class="stat-value" data-controller="clock">
      <span data-clock-target="display">00:00:00</span>
    </div>
    <a class="btn btn-ghost text-xl">{Next Timetabled Event}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%# TODO add logo %>
        <%# TODO Trigger Tab on click %>
        <%= link_to "Erudite", user_home_path, class: "btn btn-ghost text-xl", id: "test" %>
        <%# TODO -> Don't leave this here %>
        <%= link_to "admin", admin_dashboard_index_path, class: "btn btn-ghost text-xl" %>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <%= link_to "Notifications",
                user_notifications_path,
                data: {
                  turbo_frame: "notifications",
                },
                class: "btn mx-2" %>

    <%= button_to "Sign Out", session_path, method: :delete, class: "btn mx-2" %>

  </div>
</div>