<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <%# TODO Populate accordingly %>
    <a class="btn btn-ghost text-xl">{Time}</a>
    <a class="btn btn-ghost text-xl">{Next Timetabled Event}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%# TODO add logo %>
        <a class="btn btn-ghost text-xl">Erudite</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <%# TODO conditional button %>
    <a class="btn">{Conditional Button}</a>
    <a class="btn">Button</a>
    <a class="btn">Button</a>
    <a class="btn">Notifications</a>
  </div>
</div>