<select data-choose-theme>
  <option data-set-theme="light" value="light">Default</option>
  <option data-set-theme="abyss" value="abyss">Abyss</option>
  <option data-set-theme="acid" value="acid">Acid</option>
  <option data-set-theme="aqua" value="aqua">Aqua</option>
  <option data-set-theme="autumn" value="autumn">Autumn</option>
  <option data-set-theme="black" value="black">Black</option>
  <option data-set-theme="bumblebee" value="bumblebee">Bumblebee</option>
  <option data-set-theme="business" value="business">Business</option>
  <option data-set-theme="caramelatte" value="caramelatte">Caramelatte</option>
  <option data-set-theme="cmyk" value="cmyk">Cmyk</option>
  <option data-set-theme="coffee" value="coffee">Coffee</option>
  <option data-set-theme="corporate" value="corporate">Corporate</option>
  <option data-set-theme="cupcake" value="cupcake">Cupcake</option>
  <option data-set-theme="cyberpunk" value="cyberpunk">Cyberpunk</option>
  <option data-set-theme="dark" value="dark">Dark</option>
  <option data-set-theme="dim" value="dim">Dim</option>
  <option data-set-theme="dracula" value="dracula">Dracula</option>
  <option data-set-theme="emerald" value="emerald">Emerald</option>
  <option data-set-theme="fantasy" value="fantasy">Fantasy</option>
  <option data-set-theme="forest" value="forest">Forest</option>
  <option data-set-theme="garden" value="garden">Garden</option>
  <option data-set-theme="halloween" value="halloween">Halloween</option>
  <option data-set-theme="lemonade" value="lemonade">Lemonade</option>
  <option data-set-theme="light" value="light">Light</option>
  <option data-set-theme="lofi" value="lofi">Lofi</option>
  <option data-set-theme="luxury" value="luxury">Luxury</option>
  <option data-set-theme="night" value="night">Night</option>
  <option data-set-theme="nord" value="nord">Nord</option>
  <option data-set-theme="pastel" value="pastel">Pastel</option>
  <option data-set-theme="retro" value="retro">Retro</option>
  <option data-set-theme="silk" value="silk">Silk</option>
  <option data-set-theme="sunset" value="sunset">Sunset</option>
  <option data-set-theme="synthwave" value="synthwave">Synthwave</option>
  <option data-set-theme="valentine" value="valentine">Valentine</option>
  <option data-set-theme="winter" value="winter">Winter</option>
  <option data-set-theme="wireframe" value="wireframe">Wireframe</option>
</select>